<div class="footer-content">
    <div class="footer-buttons">
        <a href="https://www.11ty.dev/">
            <img src="/img/made-with-11ty.gif" alt="Made with Eleventy">
        </a>
    </div>

    <div class="footer-content">
        <p>© 2025 Evelyn Evans</p>
        <a href="mailto:hatkaruby@riseup.net">email</a>
        <a href="https://kolektiva.social/@ruvalyn" target="_blank">mastodon</a>
    </div>

<div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=rubytv" defer></script>
</div>
