* {font-family:"Lucida Console", Monaco, monospace}

body { 
    margin-left: 25%;
    margin-right: 25%;
    border: black;
    border-width: 1px;
    border-style: solid;
    max-width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: black;
    border-width: 1px;
    border-style: solid;
    list-style: none;
}

article {
    background-color: white;
}