:root {
    --nav-color: #675d50;
    --nav-text: #fff;
    --primary-color: #f3deba;
    --secondary-color: #abc4aa;
    --hover-color: #a9907e;

    --accent: #754668;

    --dark-moss-green: #606c38ff;
    --dark-moss-green-complementary: #44386C;
    --pakistan-green: #283618ff;
    --pakistan-green-complementary: #261836;
    --cornsilk: #fefae0ff;
    --earth-yellow: #dda15eff;
    --tigers-eye: #bc6c25ff;
}

/* Ripping off Puralistic */
/* * {font-family: Monaco, "Lucida Console", monospace} */

/* Ripping off Techdirt */
* {font-family: trebuchet ms, arial, helvetica, sans-serif}

body { 
    margin-left: 5%;
    margin-right: 5%;
    border: black;
    /* border-width: 1px;
    border-style: solid; */
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;

    background-color: var(--cornsilk);
    padding: 1%;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: black; 
    list-style: none;
    /* background-color: pink; */
    padding-left: 0%;
}

.nav li {
    padding-right: 5%;
}

header {
    /* background-color: cornflowerblue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* .left-main {
    display: flex;
    flex-direction: column;
    background-color: red;
    margin-right: 2.5%;
}

.right-main {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    margin-left: 2.5%;
} */

footer {
    text-align: center;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-content .footer-buttons {
    padding-top: 1%;
}

a {
    color: var(--dark-moss-green);
}

 /* unvisited link */
 a:link {
    color: var(--dark-moss-green);
  }
  
  /* visited link */
  a:visited {
    color: var(--dark-moss-green);
  }
  
  /* mouse over link */
  a:hover {
    color: var(--dark-moss-green-complementary);
  }
  
  /* selected link */
  a:active {
    /* subject to change */
    color: blue;
  } 

.task-list {
    list-style: none;
    padding-left: 0%
}